$body__bg: #fdfdfd;
$header__bg: #fbfbfb;
$body__bg_noise: url('http://api.thumbr.it/whitenoise-361x370.png?background=fbfbfbff&noise=dedbde&density=38&opacity=18');
$column_left__bg: #191818;

$content__border__color: #e3e3e3;

$column_left__item__color: #3f3e3e;
$content__text__color__light: #9a9a9a;
$content__text__color__normal: #777;
$content__text__color__dark: #212121;
$orange__color: #ec4800;