<html>
<head></head>
<body style="font-size: 13px;font-family: arial, sans-serif; font-weight: bold;color: rgb(34,34,34);">
<p>Уважаем{% if is_female %}ая{% else %}ый{% endif %} {{ name }}, добро пожаловать на вечеринку Бакарди «Getaway Party»!</p>
<p>В приложении к письму Вы найдёте фотографию с Вашим новым образом.</p>
<p>Теперь Вы практически готовы к пересечению границы. Сохраните это изображение и ждите дальнейших указаний.</p>
<p>Adios!</p>
</body>
</html>