{% extends 'GBPBacardiBundle::layout.html.twig' %}

{% block head %}
    {% if getphoto == 1 %}
        <meta http-equiv="refresh" content="3; url=/finish/2">
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/gbpbacardi/css/last.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="b-wrapper" id="js-b-wrapper"></div>

{% endblock %}