<!-- ITEMS -->
{% for item in items %}
    <div class="b-wardrobe__popup__item js-b-wardrobe__popup__item" data-id="{{ item.id }}">
        <!-- IMG HERE -->
        <img width="50" height="70" data-id="{{ item.id }}" src="{{ item.previewImage }}" alt="{{ item.name }}"/>
    </div>
{% endfor %}
<!-- /ITEMS -->