{% extends 'GBPBacardiBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/gbpbacardi/css/finish.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="b-wrapper" id="js-b-wrapper">
        <div class="b-finish b-block">
            <form action="" id="js-b-finish__form">
                <input id="js-img-input" type="hidden" value=""/>
                <input id="js-save-type-input" type="hidden" value=""/>

                <div class="b-finish__style-btn b-finish__style-btn_sepia js-b-finish__style-btn" data-effect="sepia"></div>
                <div class="b-finish__style-btn b-finish__style-btn_desaturate js-b-finish__style-btn" data-effect="desaturate"></div>

                <div class="b-finish__save" id="js-b-finish__save"></div>
                <div class="b-finish__send" id="js-b-finish__send"></div>

                <div class="b-finish__frames">
                    <div class="b-finish__frame__wrapper b-finish__frame__wrapper_1">
                        <div class="b-finish__frame b-finish__frame_1 js-b-finish__frame"></div>
                    </div>

                    <div class="b-finish__frame__wrapper b-finish__frame__wrapper_2">
                        <div class="b-finish__frame b-finish__frame_2 js-b-finish__frame"></div>
                    </div>

                    <div class="b-finish__frame__wrapper b-finish__frame__wrapper_3">
                        <div class="b-finish__frame b-finish__frame_3 js-b-finish__frame"></div>
                    </div>
                </div>

                <div class="b-finish__result" id="js-b-finish__result">
                    <div class="b-finish__result__frame" id="js-b-finish__result__frame">
                        <img class="b-finish__result__frame__img js-b-finish__result__frame__img" src="img/frame_1.png"/>
                        <img class="b-finish__result__frame__img js-b-finish__result__frame__img" src="img/frame_2.png"/>
                        <img class="b-finish__result__frame__img js-b-finish__result__frame__img" src="img/frame_3.png"/>
                    </div>
                    <div class="b-finish__result__photo" id="js-b-finish__result__photo">
                        <img class="b-finish__result__photo__img" id="js-b-finish__result__photo__img" src="{{ result }}">
                    </div>
                </div>

            </form>
        </div>
    </div>

    {% javascripts output='js/compiled/libs.js'
        '@GBPBacardiBundle/Resources/public/js/libs/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@GBPBacardiBundle/Resources/public/js/finish/*' output='js/compiled/finish.js' debug=true %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}