<!-- UNWEAR BLOCK -->
<div class="b-wardrobe__block__unwear__wrapper">
	{% for item in items %}
		<div class="b-wardrobe__block__unwear js-b-wardrobe__block__unwear" data-cat="{{ item.layer }}">
			<i class="b-wardrobe__block__unwear-icon">&times;</i>
			{{ item.name }}
		</div>
	{% endfor %}
</div>
<!-- /UNWEAR BLOCK -->