.b-wrapper {
	background: url(../img/last_page_block_bg.png?7) no-repeat 50%;
}

.b-last {

}

.b-last__btn {
	cursor: pointer;
	width: 60px;
	height: 36px;
	position: absolute;
	left: 480px;
	top: 420px;
}
