@font-face {
	font-family: 'NeoSans';
	src: url('../fonts/neosans/neosanspro-regular-webfont.eot');
	src: url('../fonts/neosans/neosanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neosans/neosanspro-regular-webfont.woff') format('woff'),
	url('../fonts/neosans/neosanspro-regular-webfont.ttf') format('truetype'),
	url('../fonts/neosans/neosanspro-regular-webfont.svg#neo_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansLight';
	src: url('../fonts/neosans/neosanspro-light-webfont.eot');
	src: url('../fonts/neosans/neosanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neosans/neosanspro-light-webfont.woff') format('woff'),
	url('../fonts/neosans/neosanspro-light-webfont.ttf') format('truetype'),
	url('../fonts/neosans/neosanspro-light-webfont.svg#neo_sans_prolight') format('svg');
	font-weight: normal;
	font-style: normal;

}