{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
    {% if( object.resultPhoto ) and (file_exists(root_path ~ '/upload/'~object.email~'.png')) %}
        <div>
            <img class="resultPhoto" width="100" height="133" src="/upload/{{ object.email }}.png" alt="{{ object.email}}"/>
        </div>
    {% endif %}
{% endblock %}